*~
*.pyc
__pycache__
gem_dbase
scm_dbase
/build*
/work*
src/modelutils/include/modelutils_version.inc
src/rpnphy/include/rpnphy_version.inc
.ssmuse_scm
suite
configexp.cfg
scm_settings.nml
RUNSCM/
results/
