# Configuration for MPACE-B Arctic stratocumulus test case from scm-data
dbase=${SCM_MODEL_DFILES}/dfiles/mpace
exp=mpace
xfer=${PWD}/results
inrep=${dbase}/ic/inrep
anal=${dbase}/ic/2004100917_000.dir
climato=${ATM_MODEL_DFILES}/bcmk/climato_ic3_ozone_v2
geophy=${dbase}/geophy
ozone=${ATM_MODEL_DFILES}/datafiles/constants/ozoclim_Fortuin_Kelder1998
radtab=${ATM_MODEL_DFILES}/datafiles/constants/irtab5_std
const=${ATM_MODEL_DFILES}/datafiles/constants/thermoconsts
phy_intable=${dbase}/physics_input_table

