#  Configuration for BFP92 subtropical stratocumulus test case from scm-data
dbase=${SCM_MODEL_DFILES}/dfiles/bfp92
exp=bfp92
xfer=${PWD}/results
inrep=${dbase}/ic/inrep
anal=${dbase}/ic/1983070100_000.dir
climato=/fs/homeu2/eccc/prod/ords/cmoi_ops/smco502/datafiles/constants/cmdn/gem/shared/climato_ic3_ozone
geophy=${dbase}/geophy
ozone=${ATM_MODEL_DFILES}/datafiles/constants/ozoclim_Fortuin_Kelder1998
radtab=${ATM_MODEL_DFILES}/datafiles/constants/irtab5_std
const=${ATM_MODEL_DFILES}/datafiles/constants/thermoconsts
phy_intable=${dbase}/physics_input_table
